<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <script>
            redirectURI = `chrome-extension://knibpfflhdfiidlcfehenmoagefcmnkp/html/configuration.html${(location.hash || location.search)}`;
            location.href = redirectURI;
        </script>
    </body>
</html>
